@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin card-style() {
  background-color: #fff;
  box-shadow: $std-shadow;
  padding: 40px 20px;
  border-radius: $std-border-radius;
}
.not-on-mobile {
  @media #{$mobile} {
    display: none !important;
  }
}
.mobile-only {
  @media #{$not-mobile} {
    display: none !important;
  }
}
html {
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100vw;
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  justify-content: center;
  font-size: $desktop-text-size;
  overflow-x: hidden;
  max-width: 100vw;
  background-color: #eee;
  @media #{$mobile} {
    font-size: $mobile-text-size;
  }
  height: 100%;
  width: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
#app {
  font-family: p;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  font-family: p;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@font-face {
  font-family: p;
  src: url(assets/fonts/Quicksand-Medium.ttf);
}
@font-face {
  font-family: h;
  src: url(assets/fonts/Oswald-Regular.ttf);
}
@font-face {
  font-family: b;
  src: url(assets/fonts/Poppins/Poppins-Bold.ttf);
  // src: url(assets/fonts/Oswald/Oswald-Regular.ttf);
}
