$mobile: '(max-width: 768px)';
$not-mobile: '(min-width: 769px)';
$nav-height: 60px;
$mobile-text-size: 16px;
$desktop-text-size: 18px;
$dimmer-color: rgba(0, 0, 0, 0.5);
$std-shadow: 0 3px 6px rgba(#000, 0.15);
$nav-z: 151;
$nav-number-of-buttons: 5;
$nav-button-height: 50px;
$max-width: 1200px;
$theme-color1: #333;
$theme-color2: #fff;
$std-border-radius: 5px;

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin card-style() {
  background-color: #fff;
  box-shadow: $std-shadow;
  margin: 15px;
  padding: 20px;
  border-radius: $std-border-radius;
}
